# Sensitive Files
.env
*.pem
*.key
*.pub

# Dependencies
/vendor/
composer.phar

# OS Files
desktop.ini
Thumbs.db
.DS_Store

# Archives and Logs
*.zip
*.log
*.sql
helpers.php.prod
test_smtp.php

# Local Configuration
README_SERVER.md
elektrarent.nginx.conf
